body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8dc63f;
}

.wrapper {
  max-width: 960px;         
  margin: auto  ;
  background-color: #fff;
  padding:  14px;
  box-sizing: border-box;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo-text p {
    margin: 0;
 text-decoration: none;
 font-size: 22px;
color: #39930d;
}

.logo-text strong {
 font-size: 44px;
color: #39930d;
font-weight: bold;
display: block;
}

.logo-text i {
 font-size: 14px;
color: #5a5a5a;
font-style: italic;
}

.logo-icon img {
  width: 60px;
  height: auto;
  margin-left: 15px;
}

.contact {
text-align: right;
}

.contact a {
font-size: 22px;
color: #39930d;
text-align: right;
text-decoration: none;
display: block;
}

.contact i {
font-size: 14px;
color: #5a5a5a;
font-style: italic;
text-align: right;
}

.picture img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}


.main-layout {
  display: flex;
  margin-bottom: 20px;
}

.content {
  flex: 2;
}

.content h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    margin-top: 0;
}

.content p {
font-size: 14px;
line-height: 21px;
color: #343434;
}


.sidebar {
  flex: 1;
  justify-content: space-between;
}

.sidebar h2 {
    background-color: #39930d;
    font-size: 18px;
    color: #fff;
    font-family: "Arial";
    padding: 15px;
    margin: 19px;
}

.sidebar ul {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
    list-style: none;
    margin: -5px;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar a {
  font-size: 14px;
  text-transform: uppercase;
  color: #39930d;
  text-decoration: none;
  display: block;
}

footer {
    max-width: 960px;
     background-color: #39930d;
     margin: -14px;
}


footer p {
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding: 14px 15px;
  margin: -5px;
}

